@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.rdp {
  --rdp-accent-color: theme("colors.accent.300") !important;
  background-color: color !important;
  color: inherit !important;
}

.rdp-caption_label,
.rdp-button,
.rdp-head_cell,
.rdp-day {
  color: inherit !important;
}

.rdp-dropdown_month,
.rdp-dropdown_year {
  background-color: transparent !important;
  color: inherit !important;
}

.rdp-day_range_start,
.rdp-day_range_end {
  background-color: theme("colors.accent.900") !important;
  color: white !important;
  border-radius: 9999px !important;
}

.rdp-day_range_middle {
  background-color: theme("colors.accent.500") !important;
  color: white !important;
}

.rdp-day_selected:not(.rdp-day_range_start):not(.rdp-day_range_end):not(
    .rdp-day_range_middle
  ) {
  background-color: theme("colors.accent.600") !important;
  color: white !important;
}
